{% extends 'Hospital Administrator/hindex1.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/edit_dept_action">
  <table width="410" border="1" class="table table-striped">
<tr align="center">
        <td colspan="12"><h3><b>EDIT DEPARTMENT</b></h3>
        </td>
    </tr>
    <tr>
        <td width="400"><b>Department name</b>
        <label></label></td>
      <td width="400"><label>
      <input type="text" name="textfield" value="{{ val.dept_name }}" required pattern="[A-Z a-z.]{3,25}" class="btn btn-outline-dark" style="width:210px;"/>
      </label></td>
    </tr>
    <tr>
        <td><b>Details</b> </td>
        <label></label></td>
      <td><label>
        <textarea name="textarea" required class="btn btn-outline-dark" style="width:600px;height: 200px;">{{ val.details }}</textarea>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" value="Save" class="btn btn-secondary" style="width:100%"/></td>
    </tr>
  </table>
</div>
</form>
</body>
{% endblock %}